html,
body {
    height: 100%;
}

body.blank {
    display: flex;
    padding: 40px 0;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

body.blank .wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: -40px auto;
    padding: 15px;
}

body.blank .wrap > div {
    width: 100%;
}

table td {
    vertical-align: middle !important;
}

.text-white {
    color: #fff !important;
}

.tab-pane {
    padding: 10px 0;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.treeview > ul.treeview-menu {
    padding-left: 25px;
}

section.content h1 {
    display: none;
}

.login-page {
    padding-top: 20vh
}

.redactor-box {
    margin-bottom: 0 !important;
}

.redactor-toolbar {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    width: 100% !important;
    visibility: visible !important;
}
.toolbar-fixed-box + .redactor-editor {
    padding-top: 20px !important;
}

.select2-container--krajee .select2-selection--multiple .select2-selection__choice {
    margin: 8px 0 0 8px !important;
}
.select2-selection__choice__remove {
    cursor: pointer;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: rgba(255,255,255,0.7);
    float: right;
    margin: 0 -5px 0 5px !important;
    font-size: 107%;
}

.sort-handler {
	padding: 0.5em;
	cursor: grab;
}
.ui-sortable-helper {
	display: table-row;
	background-color: #fcf8e3 !important;
	box-shadow: 0 0 7px rgba(0, 0, 0, .3);
}

.form-group-json > .form-group {
    margin-bottom: 0 !important;
}
.form-group-json .tab-content {
    margin-bottom: 7px;
}

.yii2gallery.row {
    margin: 0 -5px;
}
.yii2gallery-item {
    position: relative;
    padding: 0 5px !important;
    margin-bottom: 5px !important;
}
.yii2gallery-item .btn {
    position: absolute;
    left: 1em;
}
.yii2gallery-item .delete {
    top: 0.5em;
}
.yii2gallery-item .write {
    bottom: 0.5em;
}


.field-image-title,
.field-image-description,
.field-image-url,
.field-image-newpage {
    display: none !important;
}


/* LOADING */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, .7);
    z-index: 9999;
}
@keyframes loading {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}
.loading div {
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: loading 1s cubic-bezier(0,0.2,0.8,1) infinite;
}
.loading div:nth-child(1) {
    border-color: #1d3f72
}
.loading div:nth-child(2) {
    border-color: #5699d2;
    animation-delay: -0.5s;
}
.loading-spinner {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}
.loading {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.loading div {
    box-sizing: content-box;
}
/* LOADING */