::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color:rgba(0,0,0,.3);
	border-radius: 3px;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-resizer {
    background-color: rgba(0, 0, 0, .3);
}

::selection {
	background: #D6751C;
	color: #fff;
}
::-webkit-selection {
	background: #D6751C;
	color: #fff;
}



.container-fluid {
    max-width: 1620px !important;
}

a:-webkit-any-link:focus {
    outline-offset: 1px !important;
}
a,
button,
.btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
    box-shadow: none !important;
}
.btn.disabled, 
.btn:disabled {
	pointer-events: none;
}

.custom-control,
.custom-control-label {
    cursor: pointer;
}

.text-underline {
    display: inline-block;
    position: relative;
}
.text-underline:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 2px solid #000;
    border-color: inherit !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.text-underline:hover:after {
    opacity: 0;
}
.text-line-through {
	text-decoration: line-through;
}
.pointer-events-none {
    pointer-events: none;
}
.cursor-pointer {
    cursor: pointer;
}
.overflow-x-scroll {
	overflow-x: scroll;
}
.overflow-y-scroll {
	overflow-y: scroll;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.overflow-x-auto {
	overflow-x: auto;
}
.overflow-y-auto {
	overflow-y: auto;
}
.vh-25 {
    height: 25vh !important;
}
.vh-50 {
    height: 50vh !important;
}
.vh-75 {
    height: 75vh !important;
}
.min-vh-25 {
    min-height: 25vh !important;
}
.min-vh-50 {
    min-height: 50vh !important;
}
.min-vh-75 {
    min-height: 75vh !important;
}
.max-vh-25 {
    max-height: 25vh !important;
}
.max-vh-50 {
    max-height: 50vh !important;
}
.max-vh-75 {
    max-height: 75vh !important;
}
.max-vh-100 {
    max-height: 100vh !important;
}
.vw-25 {
    width: 25vw !important;
}
.vw-50 {
    width: 50vw !important;
}
.vw-75 {
    width: 75vw !important;
}
.min-vw-25 {
    min-width: 25vw !important;
}
.min-vw-50 {
    min-width: 50vw !important;
}
.min-vw-75 {
    min-width: 75vw !important;
}
.max-vw-25 {
    max-width: 25vw !important;
}
.max-vw-50 {
    max-width: 50vw !important;
}
.max-vw-75 {
    max-width: 75vw !important;
}
.max-vw-100 {
    max-width: 100vw !important;
}
.top-0 {
	top: 0 !important;
}
.top-100 {
	left: 100% !important;
}
.bottom-0 {
	bottom: 0 !important;
}
.bottom-100 {
	bottom: 100% !important;
}
.left-0 {
	left: 0 !important;
}
.left-100 {
	left: 100% !important;
}
.right-0 {
	right: 0 !important;
}
.right-100 {
	right: 100% !important;
}
.opacity-25 {
    opacity: .25 !important;
}
.opacity-50 {
    opacity: .5 !important;
}
.opacity-75 {
    opacity: .75 !important;
}
.opacity-100 {
    opacity: 1 !important;
}

.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

@media (max-width: 767px){
    html,
    body {
        max-width: 100vw !important;
        overflow-x: hidden !important;
    }
}

body {
    overflow-x: hidden;
}

form[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

form .help-block {
    width: 100%;
    text-align: right;
    font-size: 80%;
    opacity: .85;
}

.navbar-light .dark,
.navbar-dark .light {
    display: none !important;
}

#pagecontent {
	min-height: 50vh;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 = 56.25%, 4:3 = 75% */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-width: 0;
    outline-width: 0;
}


/* GIFT */
body[data-gift] .cart-product[data-price="0"] .dvizh-change-count,
body[data-gift] .cart-product[data-price="0"] .dvizh-cart-delete-button {
    display: none;
}

.nav-cart-informer {
    width: 33px;
    height: 33px;
    font-size: 1rem;
    margin: -0.4rem -0.8rem 0 0;
}

.main-menu-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 125px;
    height: 57px;
    background: url('../images/menu_arrow.svg') 0 0 no-repeat;
    transform: translateX(70%);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.main-menu-item:hover:before {
    opacity: 1;
    transform: translateX(130%);
}

.dvizh-cart-buy-button:disabled {
	pointer-events: none !important;
}

.dvizh-change-options input[type="radio"] {
    display: none;
}

.news-post:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 90px;
    height: 90px;
    background: url('../images/news_arrow.svg') 0 0 no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.news-post:hover:after {
    opacity: 0;
}
.news-post .card-img {
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.news-post .card-img-overlay {
    z-index: 4;
}
.news-post .card-img-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(71, 79, 115, 0.8);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
}
.news-post:hover .card-img {
    opacity: 1;
}
.news-post:hover .card-img-overlay:before {
    opacity: 1;
}
.news-post:hover .card-img-overlay * {
    color: #fff !important;
}
.news-back {
    width: 84px;
    height: 84px;
    background: url('../images/arrow_news_back.svg') center center no-repeat;
    margin-left: -0.5rem;
}
.btn-wishlist div:last-child,
.btn-wishlist[data-action="add"] div:last-child,
.btn-wishlist[data-action="remove"] div:first-child {
	display: none;
}
.btn-wishlist[data-action="add"] div:first-child,
.btn-wishlist[data-action="remove"] div:last-child {
	display: inline;
}


/* dropdown menu */
.dropdown-menu {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.dropdown-menu.show {
    opacity: 1;
    pointer-events: auto;
}
.dropdown.hover:hover > .dropdown-menu {
    opacity: 1;
    z-index: 10000;
    pointer-events: auto;
}



/* OWL */
.owl-dot {
    background: transparent;
    border: none;
}
.owl-dot span {
    width: 0.8em !important;
    height: 0.8em !important;
}
.owl-dot.active span {
    background: #000 !important;
}
.owl-nav {
	position: absolute;
	bottom: 40px;
	width: 100%;
}
.owl-nav button {
	position: absolute;
    background: none !important;
    color: #000 !important;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}


/* detailed list */
.dl-horizontal dd:before,
.dl-horizontal dd:after {
    display: table;
    content: " ";
}
.dl-horizontal dd:after {
    clear: both;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 300;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}


.ymaps-layers-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}


.suggestions-suggestions a[href*="dadata"] {
	display: none;
}

#nav {
    z-index: 1051;
}
#nav-container {
    border-width: 3px !important;
}