::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color:rgba(0,0,0,.3);
	border-radius: 3px;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-resizer {
    background-color: rgba(0, 0, 0, .3);
}

::selection {
	background: #1C202D;
	color: #fff;
}
::-webkit-selection {
	background: #1C202D;
	color: #fff;
}


a:-webkit-any-link:focus {
    outline-offset: 1px !important;
}
a,
button,
.btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
    box-shadow: none !important;
}
.btn.disabled, 
.btn:disabled {
	pointer-events: none;
}

.custom-control,
.custom-control-label {
    cursor: pointer;
}
.text-decoration-underline {
    text-decoration: underline;
}
.text-underline {
    display: inline-block;
    position: relative;
}
.text-underline:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #000;
    border-color: inherit !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.text-underline:hover:after {
    opacity: 0;
}
.text-line-through {
	text-decoration: line-through;
}
.pointer-events-none {
    pointer-events: none;
}
.cursor-pointer {
    cursor: pointer;
}
.overflow-x-scroll {
	overflow-x: scroll;
}
.overflow-y-scroll {
	overflow-y: scroll;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.overflow-x-auto {
	overflow-x: auto;
}
.overflow-y-auto {
	overflow-y: auto;
}
.vh-25 {
    height: 25vh !important;
}
.vh-50 {
    height: 50vh !important;
}
.vh-75 {
    height: 75vh !important;
}
.min-vh-25 {
    min-height: 25vh !important;
}
.min-vh-50 {
    min-height: 50vh !important;
}
.min-vh-75 {
    min-height: 75vh !important;
}
.max-vh-25 {
    max-height: 25vh !important;
}
.max-vh-50 {
    max-height: 50vh !important;
}
.max-vh-75 {
    max-height: 75vh !important;
}
.max-vh-100 {
    max-height: 100vh !important;
}
.vw-25 {
    width: 25vw !important;
}
.vw-50 {
    width: 50vw !important;
}
.vw-75 {
    width: 75vw !important;
}
.min-vw-25 {
    min-width: 25vw !important;
}
.min-vw-50 {
    min-width: 50vw !important;
}
.min-vw-75 {
    min-width: 75vw !important;
}
.max-vw-25 {
    max-width: 25vw !important;
}
.max-vw-50 {
    max-width: 50vw !important;
}
.max-vw-75 {
    max-width: 75vw !important;
}
.max-vw-100 {
    max-width: 100vw !important;
}
.top-0 {
	top: 0 !important;
}
.top-100 {
	top: 100% !important;
}
.bottom-0 {
	bottom: 0 !important;
}
.bottom-100 {
	bottom: 100% !important;
}
.left-0 {
	left: 0 !important;
}
.left-100 {
	left: 100% !important;
}
.right-0 {
	right: 0 !important;
}
.right-100 {
	right: 100% !important;
}
.top-auto {
    top: auto !important;
}
.bottom-auto {
    bottom: auto !important;
}
.left-auto {
    left: auto !important;
}
.right-auto {
    right: auto !important;
}
.opacity-25 {
    opacity: .25 !important;
}
.opacity-50 {
    opacity: .5 !important;
}
.opacity-75 {
    opacity: .75 !important;
}
.opacity-100 {
    opacity: 1 !important;
}

.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg width="20" height="10" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="30.168" y1="0.707107" x2="15.9355" y2="14.9396" stroke="black" stroke-linecap="round"/><line x1="15.2323" y1="15.2603" x2="0.999849" y2="1.02776" stroke="black" stroke-linecap="round"/></svg>') right 0.5em center no-repeat;
}
select::-ms-expand {
    display: none;
}

.btn-group .btn {
    font-size: 100%;
}
.btn-group .btn.active {
    background: #fff;
}

#profile-sex .btn:before {
    content: '';
    margin-right: 0.5em;
}
#profile-sex .btn:first-child:before {
    width: 1.87rem;
    height: 2.2rem;
    background: url('../images/dog_girl.svg') center center / cover no-repeat;
}
#profile-sex .btn:last-child:before {
    width: 1.75rem;
    height: 2.25rem;
    background: url('../images/dog_boy.svg') center center / cover no-repeat;
}

.input-group .input-group-prepend select.form-control-lg {
    border-radius: 0.65rem 0 0 0.65rem;
}
.input-group .input-group-append select.form-control-lg {
    border-radius: 0 0.65rem 0.65rem 0;
}

#loader {
    z-index: 1099;
}
#loader .spinner-border {
    width: 3rem; 
    height: 3rem;
}

.video {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.video video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-radio-small {
    padding-left: 2.5rem;
}
.custom-radio-small label:before {
    top: 0;
    left: -2.25rem;
    width: 1.5rem;
    height: 1.5rem;
}
.custom-radio-small label:after {
    left: -2.5rem;
}
.custom-radio-secondary label:before {
    border-color: #474F73 !important;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23474F73'/%3e%3c/svg%3e") !important;
}

.suggestions-suggestions a[href*="dadata"] {
	display: none;
}

body {
    overflow-x: hidden;
}

form[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

form .help-block {
    width: 100%;
    padding-right: 1em;
    text-align: right;
    font-size: 80%;
    opacity: .85;
}
form .text-center > .help-block {
    text-align: center;
}


.modal .modal-dialog,
.modal .modal-content {
	min-width: 450px;
}
@media (max-width: 576px){
	.modal .modal-dialog,
	.modal .modal-content {
		width: 100vw !important;
		max-width: 100vw !important;
		min-width: 100vw !important;
        margin: 0 !important;
	}
}
.modal:not(.show) .modal-dialog.left-0 {
    -webkit-transform: translate(-100%, 0) !important;
    -moz-transform: translate(-100%, 0) !important;
    transform: translate(-100%, 0) !important;
}
.modal:not(.show) .modal-dialog.right-0 {
    -webkit-transform: translate(100%, 0) !important;
    -moz-transform: translate(100%, 0) !important;
    transform: translate(100%, 0) !important;
}
.modal .close img {
    width: 1em;
    height: 1em;
}

#nav {
    z-index: 1040;
}
.navbar-light .dark,
.navbar-dark .light {
    display: none !important;
}

#logo img {
    width: 55px;
}

#nav-cart-icon img,
#nav-user-icon img {
    width: 36px;
}
.nav-cart-informer {
    width: 22px;
    height: 22px;
    font-size: 0.66rem;
    margin: -0.4rem -0.8rem 0 0;
}

.nav-lang-select .dropdown-menu {
    min-width: unset;
    margin-left: -0.5em;
}

#nav-menu-button img {
    width: 50px;
}

/* .search { */
    /* width: auto; */
    /* min-width: 50px; */
    /* max-width: 200px; */
    /* padding-left: 0.7em; */
/* } */
/* .search-button { */
    /* position: absolute; */
    /* top: 50%; */
    /* right: 0.7em; */
    /* transform: translateY(-50%); */
/* } */

.main-menu-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 83px;
    height: 38px;
    background: url('../images/menu_arrow.svg') 0 0 / cover no-repeat;
    transform: translateX(70%);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.main-menu-item:hover:before {
    opacity: 1;
    transform: translateX(130%);
}

.dvizh-cart-buy-button:disabled {
	pointer-events: none !important;
}

.dvizh-change-options input[type="radio"] {
    display: none;
}

#logo-big {
    width: 265px;
}

#logo-small {
    width: 55px;
}

#apple-store {
    width: 121px;
}

#google-play {
    width: 123px;
}

#pagecontent {
	min-height: 50vh;
}

.menu-social-icon,
.footer-social-icon {
    height: 16px;
}

#menu-contacts {
    opacity: .7;
}

.btn-wishlist div:last-child,
.btn-wishlist[data-action="add"] div:last-child,
.btn-wishlist[data-action="remove"] div:first-child {
	display: none;
}
.btn-wishlist[data-action="add"] div:first-child,
.btn-wishlist[data-action="remove"] div:last-child {
	display: inline;
}

.arrow-icon {
    width: 4.5em;
}

.accordion .arrow {
    background: url('/images/arrow_mainline.svg') 0 center repeat-x;
}
.accordion a[data-toggle="collapse"][aria-expanded="true"] .arrow {
    flex-grow: 1 !important;
}
.accordion a[data-toggle="collapse"] {
    opacity: .5;
}
.accordion a[data-toggle="collapse"]:hover {
    opacity: .75;
}
.accordion a[data-toggle="collapse"][aria-expanded="true"] {
    opacity: 1;
}
.arrow-corner {
    height: 1.34em;
}

/* .accordion-arrow:after { */
    /* content: ''; */
    /* display: inline-block; */
    /* width: 2.5em; */
    /* height: 100%; */
    /* background: url('/images/arrow_mainline.svg') 0 center repeat-x; */
/* } */


/* stacked carousel */
.owl-carousel-stacked .owl-stage-outer {
    width: fit-content;
}
.owl-carousel-stacked .owl-item.transition {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: all 1s;
}
.owl-carousel-stacked .stacked {
    -webkit-transform: scale(0.7) translateX(150%) !important;
    -moz-transform: scale(0.7) translateX(150%) !important;
    transform: scale(0.7) translateX(150%) !important;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.owl-carousel-stacked .owl-nav {
    bottom: -2em;
}
.owl-carousel-stacked .owl-prev {
    left: 7em;
}
.owl-carousel-stacked .owl-next {
    left: 13em;
    right: auto;
}
#owl-advantages .owl-nav,
#owl-advantages .advantage {
    min-width: 350px;
    width: 560px;
    max-width: 100vw;
}
@media (min-width: 768px) {
    #owl-advantages .owl-nav {
        display: none;
    }
}
.app-slider-description .owl-nav {
    display: none;
}
.stacked-fade:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    pointer-events: none;
    z-index: 1;
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
.app-slider-description div.bg-white {
    width: 215px;
}
@media (max-width: 400px) {
    .stacked-fade:after {
        display: none;
    }
}

/*
.stack-slider .slick-prev,
.stack-slider .slick-next {
    top: auto;
    bottom: -100px;
    right: auto;
    width: 19px;
    height: 37px;    
}
.stack-slider .slick-prev {
    left: 106px;
    background: url('/images/prev.svg') 0 0 no-repeat;
}
.stack-slider .slick-next {
    left: 210px;   
    background: url('/images/next.svg') 0 0 no-repeat;
}
.stack-slider .slick-prev:before,
.stack-slider .slick-next:before {
    display: none;
}
.stack-slider .slick-slide {
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    transition: all 1s linear;
}
.stack-slider .slick-slide.stacked {
    -webkit-transform: scale(0.7) translateX(150%) !important;
    -moz-transform: scale(0.7) translateX(150%) !important;
    transform: scale(0.7) translateX(150%) !important;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
*/

.news-post:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url('../images/news_arrow.svg') -30px -30px no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 4;
}
.news-post:hover:after {
    opacity: 0;
}
.news-post .card-img {
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.news-post .card-img-overlay {
    z-index: 4;
}
.news-post .card-img-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(71, 79, 115, 0.8);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
}
.news-post:hover .card-img {
    opacity: 1;
}
.news-post:hover .card-img-overlay:before {
    opacity: 1;
}
.news-post:hover .card-img-overlay * {
    color: #fff !important;
}
.news-img-zoom {
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    transition: all 3s ease;
}
.news-post:hover .news-img-zoom {
    transform: scale(1.2);
}

.news-post-content img {
    max-width: 100%;
    height: auto;
}
.news-post-content h5 {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
}
@media (min-width: 1200px) {
    .news-post-content img.wide {
        margin-left: -5rem !important;
        width: calc(100% + 5rem) !important;
        max-width: calc(100% + 5rem) !important;
    }
}

#action-description ul,
ul.check-circle {
    padding-left: 0;
    list-style-type: none;
}
#action-description ul li,
ul.check-circle li {
    margin-bottom: 1.5rem;
    padding-left: 3rem;
}
#action-description ul li:before,
ul.check-circle li:before {
    content: '';
    width: 16px;
    height: 16px;
    background: url('../images/check_circle.svg') 0 0 no-repeat;
    float: left;
    margin-left: -2.5rem;
    margin-top: 0.2rem;
}
#action-description ul li:before {
    margin-top: 0.5em;
}

.about-cover-icons {
    width: 2.5rem;
    height: 2.5rem;
}
#about #alternatives h2.arrow-down-right:after {
    bottom: 20%;
}

#index3 .advantages .display-1 {
    text-shadow: 1px 0 1px #0B2142, 
                0 1px 1px #0B2142, 
                -1px 0 1px #0B2142, 
                0 -1px 1px #0B2142;
}
#index3 .advantages.is-visible .display-1 {
    color: #0B2142 !important;
}

#index-app > .row {
    background: url('../images/main/app_bg.jpg') bottom center / cover no-repeat;
}

.mainpage-banner .title {
    overflow-wrap: normal;
    word-wrap: normal;
    word-break: normal;
    line-break: auto;
    hyphens: manual;
}
.mainpage-banner:hover button.btn-secondary {
    background-color: #999079 !important;
    border-color: #999079 !important;
}


/* REVIEWS */
.reviews-carousel .slick-list {
    overflow: visible !important;
}
.reviews-carousel .slick-center {
    width: 35em !important;
    max-width: 100vw !important;
}
.reviews-carousel .slick-slide:not(.slick-center) .review {
    margin: 0 !important;
    cursor: pointer;
}
.reviews-carousel .slick-slide:not(.slick-center) .review .pet-photo img {
    width: 7em;
}
.reviews-carousel .slick-slide.slick-center .review .pet-photo img {
    width: 14em;
    margin: 0 !important;
    border-width: 4px;
    border-style: solid;
}
.reviews-carousel .slick-slide.slick-center .review .pet-photo:before {
    content: '“';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    font-size: 12.5rem;
    font-weight: 700;
    transform: translateY(-55%);
}
.reviews-carousel .rating img {
    display: inline-block;
    width: 1.5em;
}
.reviews-carousel .slick-slide:not(.slick-center) .review .content {
    display: none;
    width: 0;
    opacity: 0;
}
.reviews-carousel .slick-slide.slick-center .review .content {
    display: block;
    width: auto;
    opacity: 1;
}
@media (max-width: 575px) {
    .reviews-carousel .slick-slide.slick-center .review .pet-photo img {
        width: auto;
    }
}


/* ACCOUNT */
#account.accordion a[data-toggle="collapse"] img {
    width: 1.5em;
    margin: -0.2em -0.2em 0 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#account.accordion a[data-toggle="collapse"][aria-expanded="true"] img {
    -webkit-transform: rotate(-45deg) !important;
    -moz-transform: rotate(-45deg) !important;
    transform: rotate(-45deg) !important;
}

table#bonus-history tr:first-child,
table#bonus-history tr:first-child td {
    border: none !important
}

/* GIFT */
body[data-gift] .cart-product[data-price="0"] .dvizh-change-count,
body[data-gift] .cart-product[data-price="0"] .dvizh-cart-delete-button {
    display: none;
}


/* dropdown menu */
.dropdown-toggle:after {
    width: 7px;
    height: 5px;
    border: none !important;
    background: url(/images/dropdown-small.svg) center center / cover no-repeat;
    margin: 0.55rem 0 0 0.1rem;
    display: inline-block;
    float: right;
}



/* OWL */
.owl-dots {
    margin-top: 2em !important;
}
.owl-dot {
    background: transparent;
    border: none;
    padding: 0;
}
.owl-dot span {
    width: 0.8em !important;
    height: 0.8em !important;
    background: #E8EBEF !important;
}
.owl-dot.active span {
    background: #978F76 !important;
}
.owl-nav {
	position: absolute;
	bottom: 40px;
	width: 100%;
}
.owl-nav button {
	position: absolute;
    background: none !important;
    color: #000 !important;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}


/* detailed list */
.dl-horizontal dd:before,
.dl-horizontal dd:after {
    display: table;
    content: " ";
}
.dl-horizontal dd:after {
    clear: both;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 300;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

