::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-scrollbar-thumb {
	height: 50px;
	background-color:rgba(0,0,0,.3);
	border-radius: 3px;
}
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .07);
}
::-webkit-resizer {
    background-color: rgba(0, 0, 0, .3);
}

::selection {
	background: #D6751C;
	color: #fff;
}
::-webkit-selection {
	background: #D6751C;
	color: #fff;
}


a:-webkit-any-link:focus {
    outline-offset: 1px !important;
}
a,
button,
.btn {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
    box-shadow: none !important;
}
.btn.disabled, 
.btn:disabled {
	pointer-events: none;
}

.custom-control,
.custom-control-label {
    cursor: pointer;
}

.text-underline {
    display: inline-block;
    position: relative;
}
.text-underline:after {
    position: absolute;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #000;
    border-color: inherit !important;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.text-underline:hover:after {
    opacity: 0;
}
.text-line-through {
	text-decoration: line-through;
}
.pointer-events-none {
    pointer-events: none;
}
.cursor-pointer {
    cursor: pointer;
}
.overflow-x-scroll {
	overflow-x: scroll;
}
.overflow-y-scroll {
	overflow-y: scroll;
}
.overflow-x-hidden {
	overflow-x: hidden;
}
.overflow-y-hidden {
	overflow-y: hidden;
}
.overflow-x-auto {
	overflow-x: auto;
}
.overflow-y-auto {
	overflow-y: auto;
}
.vh-25 {
    height: 25vh !important;
}
.vh-50 {
    height: 50vh !important;
}
.vh-75 {
    height: 75vh !important;
}
.min-vh-25 {
    min-height: 25vh !important;
}
.min-vh-50 {
    min-height: 50vh !important;
}
.min-vh-75 {
    min-height: 75vh !important;
}
.max-vh-25 {
    max-height: 25vh !important;
}
.max-vh-50 {
    max-height: 50vh !important;
}
.max-vh-75 {
    max-height: 75vh !important;
}
.max-vh-100 {
    max-height: 100vh !important;
}
.vw-25 {
    width: 25vw !important;
}
.vw-50 {
    width: 50vw !important;
}
.vw-75 {
    width: 75vw !important;
}
.min-vw-25 {
    min-width: 25vw !important;
}
.min-vw-50 {
    min-width: 50vw !important;
}
.min-vw-75 {
    min-width: 75vw !important;
}
.max-vw-25 {
    max-width: 25vw !important;
}
.max-vw-50 {
    max-width: 50vw !important;
}
.max-vw-75 {
    max-width: 75vw !important;
}
.max-vw-100 {
    max-width: 100vw !important;
}
.top-0 {
	top: 0 !important;
}
.top-100 {
	left: 100% !important;
}
.bottom-0 {
	bottom: 0 !important;
}
.bottom-100 {
	bottom: 100% !important;
}
.left-0 {
	left: 0 !important;
}
.left-100 {
	left: 100% !important;
}
.right-0 {
	right: 0 !important;
}
.right-100 {
	right: 100% !important;
}
.opacity-25 {
    opacity: .25 !important;
}
.opacity-50 {
    opacity: .5 !important;
}
.opacity-75 {
    opacity: .75 !important;
}
.opacity-100 {
    opacity: 1 !important;
}

.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.video {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.video video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.suggestions-suggestions a[href*="dadata"] {
	display: none;
}

body {
    overflow-x: hidden;
}

form[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

form .help-block {
    width: 100%;
    padding-right: 1em;
    text-align: right;
    font-size: 80%;
    opacity: .85;
}

#nav {
    z-index: 1051;
}
.navbar-light .dark,
.navbar-dark .light {
    display: none !important;
}

#logo img {
    width: 55px;
}

#nav-cart-icon img,
#nav-user-icon img {
    width: 36px;
}
.nav-cart-informer {
    width: 22px;
    height: 22px;
    font-size: 0.66rem;
    margin: -0.4rem -0.8rem 0 0;
}

#nav-menu-button img {
    width: 50px;
}

.main-menu-item:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 83px;
    height: 38px;
    background: url('../images/menu_arrow.svg') 0 0 / cover no-repeat;
    transform: translateX(70%);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-decoration: none;
}
.main-menu-item:hover:before {
    opacity: 1;
    transform: translateX(130%);
}

.dvizh-cart-buy-button:disabled {
	pointer-events: none !important;
}

.dvizh-change-options input[type="radio"] {
    display: none;
}

#logo-big {
    width: 265px;
}

#logo-small {
    width: 55px;
}

#apple-store {
    width: 121px;
}

#google-play {
    width: 123px;
}

#pagecontent {
	min-height: 50vh;
}

.menu-social-icon,
.footer-social-icon {
    height: 16px;
}

#menu-contacts {
    opacity: .7;
}

.btn-wishlist div:last-child,
.btn-wishlist[data-action="add"] div:last-child,
.btn-wishlist[data-action="remove"] div:first-child {
	display: none;
}
.btn-wishlist[data-action="add"] div:first-child,
.btn-wishlist[data-action="remove"] div:last-child {
	display: inline;
}

.arrow-back {
    width: 56px;
    height: 56px;
    background: url('../images/arrow_news_back.svg') -40px -40px no-repeat;
}

.arrow-up-left:after,
.arrow-up-right:after,
.arrow-down-left:after,
.arrow-down-right:after {
    content: '';
    position: absolute;
    bottom: 25%;
    right: 0;
    width: 56px;
    height: 56px;
    background: url('../images/arrow_news_back.svg') -40px -40px no-repeat;
}

.arrow-down-left:after {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    transform: rotate(-90deg);    
}
.arrow-down-right:after {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);   
}
@media (max-width: 765px) {
    .arrow-up-right:after,
    .arrow-up-left:after,
    .arrow-down-right:after,
    .arrow-down-left:after {
        display: none;
    }
}

.accordion .arrow {
    background: url('/images/arrow_mainline.svg') 0 center repeat-x;
}
.arrow-corner {
    height: 2.375rem;
}

/* .accordion-arrow:after { */
    /* content: ''; */
    /* display: inline-block; */
    /* width: 2.5em; */
    /* height: 100%; */
    /* background: url('/images/arrow_mainline.svg') 0 center repeat-x; */
/* } */

.news-post:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background: url('../images/news_arrow.svg') -30px -30px no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 4;
}
.news-post:hover:after {
    opacity: 0;
}
.news-post .card-img {
    position: relative;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.news-post .card-img-overlay {
    z-index: 4;
}
.news-post .card-img-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(71, 79, 115, 0.8);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    z-index: -1;
}
.news-post:hover .card-img {
    opacity: 1;
}
.news-post:hover .card-img-overlay:before {
    opacity: 1;
}
.news-post:hover .card-img-overlay * {
    color: #fff !important;
}
.news-img-zoom {
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    transition: all 3s ease;
}
.news-post:hover .news-img-zoom {
    transform: scale(1.2);
}

#action-description ul,
ul.check-circle {
    padding-left: 0;
    list-style-type: none;
}
#action-description ul li,
ul.check-circle li {
    margin-bottom: 2rem;
    padding-left: 3rem;
    line-height: 1;
}
#action-description ul li:before,
ul.check-circle li:before {
    content: '';
    width: 16px;
    height: 16px;
    background: url('../images/check_circle.svg') 0 0 no-repeat;
    float: left;
    margin-left: -2.5em;
}
#action-description ul li:before {
    margin-top: 0.2em;
}

.about-cover-icons {
    width: 2.5rem;
    height: 2.5rem;
}
#about3 h2.arrow-down-right:after {
    bottom: 20%;
}
@media (min-width: 992px) {
    video {
        max-width: 650px;
    }
}
@media (max-width: 991px) {
    #about2 .position-absolute,
    #about4 .position-absolute    {
        position: relative !important;
    }
}


/* GIFT */
body[data-gift] .cart-product[data-price="0"] .dvizh-change-count,
body[data-gift] .cart-product[data-price="0"] .dvizh-cart-delete-button {
    display: none;
}


/* dropdown menu */
.dropdown-menu {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: block;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.dropdown-menu.show {
    opacity: 1;
    pointer-events: auto;
}
.dropdown.hover:hover > .dropdown-menu {
    opacity: 1;
    z-index: 10000;
    pointer-events: auto;
}



/* OWL */
.owl-dot {
    background: transparent;
    border: none;
}
.owl-dot span {
    width: 0.8em !important;
    height: 0.8em !important;
}
.owl-dot.active span {
    background: #000 !important;
}
.owl-nav {
	position: absolute;
	bottom: 40px;
	width: 100%;
}
.owl-nav button {
	position: absolute;
    background: none !important;
    color: #000 !important;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}
.owl-prev {
	left: 0;
}
.owl-next {
	right: 0;
}


/* detailed list */
.dl-horizontal dd:before,
.dl-horizontal dd:after {
    display: table;
    content: " ";
}
.dl-horizontal dd:after {
    clear: both;
}
@media (min-width: 768px) {
    .dl-horizontal dt {
        float: left;
        width: 160px;
        overflow: hidden;
        clear: left;
        text-align: right;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 300;
    }
    .dl-horizontal dd {
        margin-left: 180px;
    }
}

